/*menu*/
.wrapper1 {
	width: 960px;
	color: #44433f;
	font: 14px "Futura Medium", "Myriad Pro", "Gill Sans", Helvetica,
		Verdana, Arial, sans-serif;
	margin: 0 auto;
	margin-left: -10px;
	padding: 0px 0px 0px 0px;
	background-color: #143d55;
	background: #fff url(images/nav-bg.png) repeat-x;
}

.wrapper1 a {
	color: #E5F2FB;
	text-decoration: none;
}

.wrapper1 a:hover {
	color: #09548B;
}

.wrapper1 p {
	margin: 0 0 17px;
	padding: 0;
	line-height: 18px;
}

.wrapper2 {
	margin: 0px auto;
	padding: 0px;
	height: 31px;
}

#navigation {
	margin: auto;
	padding: 0px;
}

.nav {
	float: left;
}

.nav-wrapper {
	
}

.nav-left {
	float: left;
	width: 11px;
}

.nav-right {
	float: left;
	width: 11px;
}

.nav ul {
	float: left;
	margin: 0;
	padding-top: 3px;
	list-style: none;
	font-size: 15px;
}

.nav li {
	float: left;
	padding: 0 7px;
	background: url(images/split.png) no-repeat right center;
	position: relative;
	z-index: 1;
}

.nav li.last {
	background: none;
}

.nav li:hover {
	z-index: 2;
}

.nav li a {
	display: block;
	line-height: 38px;
	overflow: hidden;
	float: left;
}

a .menu-left {
	background: url(images/menu_left.gif) no-repeat left top;
	width: 8px;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
}

a .menu-mid {
	background: url(images/menu_mid.gif) repeat-x top left;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
}

a .menu-right {
	background: url(images/menu_right.gif) no-repeat top left;
	width: 8px;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
}

.nav li a:hover .menu-left,.nav li.active a .menu-left,.nav li:hover a .menu-left,.nav li a:hover .menu-mid,.nav li.active a .menu-mid,.nav li:hover a .menu-mid,.nav li a:hover .menu-right,.nav li.active a .menu-right,.nav li:hover a .menu-right
	{
	background-position: 0 -37px;
	line-height: 35px;
}

.nav li a:hover,.nav li.active a,.nav li.hover a,.nav li:hover a {
	color: #09548B;
}

.nav li:hover .sub,.nav li.hover .sub {
	display: block;
}

.nav li .sub {
	display: none;
	position: absolute;
	top: 27px;
	left: 8px;
	background: url(images/submenu_top.png) no-repeat;
	width: 186px;
	padding-top: 9px;
}

.nav li .sub ul li {
	margin: 0px;
}

.nav li ul {
	background: url(images/submenu_bg.png) repeat-y;
	width: 162px;
	height: auto;
	margin: 0;
	padding: 0 12px 10px;
	list-style: none;
	font-size: 14px;
}

.nav li:hover li,.nav li.active li {
	width: 100%;
	padding: 1px 0 2px;
	border-bottom: 1px #C1D9F0 dashed;
	background: none !important;
}

.nav li:hover li a,.nav li.active li a {
	color: #09548B;
	background: none !important;
	line-height: normal;
	width: 156px;
	padding: 8px 3px 3px;
	text-indent: 1px;
}

.nav li:hover li a:hover,.nav li.active li a:hover {
	color: #fff;
	background: #165B9F !important;
	text-decoration: none;
	line-height: normal;
}

/*IE*/
.nav li li a:hover,.nav li li a:hover {
	color: #fff;
	background: #165B9F !important;
	text-decoration: none;
	line-height: normal;
}

/**/
.nav .btm-bg {
	background: url(images/submenu_bottom.png) no-repeat;
	width: 205px;
	height: 9px;
	overflow: hidden;
	clear: both;
}