{
    "name": "xoops/xoops-library",
    "license": "GPL-2.0+",
    "type": "project",
    "description": "The XOOPS Library distribution",
    "autoload": {
        "psr-0": {
            "Xoops\\": "",
            "Xmf\\": ""
        }
    },
    "require": {
        "xoops/base-requires": "0.1.*"
    },
    "require-dev": {
        "raveren/kint": "*",
        "phpunit/phpunit": ">=4.8",
        "phpunit/phpunit-skeleton-generator": "*"
    },
    "extra": {
        "xoops_modules_path": "../modules/"
    }
}