# no backup files, editor temp
*~
\#*
*.bak
.idea/
htdocs/mainfile.php
xoops_data/caches/smarty_cache/*.php
xoops_data/caches/smarty_compile/*.php
xoops_data/caches/xoops_cache/*.php
xoops_data/caches/xoops_cache/*/
xoops_data/configs/*
xoops_data/stash/*
xoops_data/composer/
xoops_data/data/secure.php
xoops_data/logs/
xoops_lib/vendor/
xoops_lib/composer.lock
htdocs/uploads/avatars/
htdocs/uploads/banners/
htdocs/uploads/images/
htdocs/uploads/filemanager/
htdocs/assets/*/
coverage.clover
composer.json
composer.lock
xoopsCIconfigs.php
