sudo: false

language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1.0alpha1
  - hhvm

matrix:
    allow_failures:
        - php: hhvm
        - php: 7.1.0alpha1

before_install:
  - composer self-update

install:
  - composer --working-dir=htdocs/xoops_lib/ install

before_script:
  - mysql -e 'create database xoops_test;'
  - php console/console.php ci-bootstrap
  - php console/console.php ci-install
  - php console/console.php install-module avatars
  - php console/console.php install-module userrank
  - php console/console.php install-module page

script:
  - htdocs/xoops_lib/vendor/bin/phpunit

after_script:
  - if [ "$TRAVIS_PHP_VERSION" != "7.1.0alpha1" ] && [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [ "$TRAVIS_PHP_VERSION" != "7.1.0alpha1" ] && [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi
