@import url(tooltip.css);
@import url(menu.css);

* { outline: none; }
a:focus {
    outline: none;
}
body {
    padding-top: 80px;
    background-color: #f5f5f5;
}
#xo-menu-modules ul.nav {
    height: 40px;
}
.subnav-fixed {
   /* border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);*/
    left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1020;
}
.subnav {
    background-color: #049CD9;
    background-image: -moz-linear-gradient(center top , #004D9F 0%, #049CD9 100%);
    background-repeat: repeat-x;
    /*border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;*/
    height: 38px;
    width: 100%;
}
.subnav h3 {
    color: #f1f1f1;
    margin: 3px 0 0 15px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.subnav .nav-pills li a {
    padding: 0 4px;
}

.dashboard-content {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.card-icons {
    float: left;
    width: 66%;
}
.cp-icon {
    font-family: tahoma, Helvetica, sans-serif;
    text-align: center;
}
.cp-icon a {
    background-color: #f4f4f4;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    box-shadow: 0 20px 10px -10px rgba(255, 255, 255, 0.3) inset;
    color: #666666;
    display: block;
    float: left;
    height: 75px !important;
    margin: 3px;
    padding: 2px;
    text-decoration: none;
    vertical-align: middle;
    width: 68px !important;
}
.cp-icon a:hover {
    background-color: #D2E2F9;
    border: 1px solid #A4C3EF;
}
.cp-icon a img {
    margin: 6px 0;
}
.cp-icon span {
    display: block;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
}
.cp-cat {
    border-bottom: 1px solid #ccc;
    margin-right: 6px;
    padding: 4px 0 6px;
    text-align: left;
}

.mod-icons {
    float: right;
    width: 32%;
}

.mod-icons .mod-link {
    border-top: 1px solid #ccc;
    margin: 10px 5px 0 0;
    padding: 5px;
}

ul.breadcrumb {
    text-shadow: 0 0 2px #000;
}
/* Tabs */
ul.xo-module-tabs {
    margin: 0;
}
.modules {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
/*.xo-module-content .modules {
    border: 0;
    padding: 0;
}*/

.footer {
    background-color: #EEEEEE;
    border-top: 1px solid #E5E5E5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.024) inset;
    padding: 30px 20px;
    text-shadow: 0 1px 0 #FFFFFF;
}

/* Table */
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table td {
    border-top: 0;
}
table.outer {
    width: 100%;
    margin-bottom: 18px;
    padding: 1px;
    font-size: 13px;
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse;
    /* IE7, collapse table to remove spacing */

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
table.outer th, table.outer td {
  padding: 8px 8px 6px;
  line-height: 18px;
  /*text-align: left;*/
}
table.outer thead {
    background-color: #222222;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-border-radius: 5px 5px 0 0;
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -webkit-border-radius-topleft: 5px;
    -webkit-border-radius-topright: 5px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #2D4760;
    color: #fff;
    padding: 4px 6px 6px 4px;
    height: 20px;
}
table.outer th {
  /*padding-top: 9px;*/
  font-weight: bold;
  vertical-align: middle;
}
table.outer td {
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table.outer tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top;
}
table.outer th + th, table.outer td + td, table.outer th + td {
  border-left: 1px solid #ddd;
}
table.outer thead tr:first-child th:first-child, table.outer tbody tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table.outer thead tr:first-child th:last-child, table.outer tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
table.outer tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
table.outer tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
table.outer tbody tr:nth-child(odd) td, .outer tbody tr:nth-child(odd) th {
  background-color: #f7f7f7;
}
table.outer tbody tr:hover td, .outer tbody tr:hover th {
  background-color: #f3f3f3;
}
