code {
    display:             block;
    width:               90%;
    max-height:          400px;
    overflow:            auto;
    padding:             2em;
    font-weight:         bold;
    font-size:           1em;
}
.system-help {
    min-height:          650px;
}
.help {
    height:              100px;
    display:             block;
}
.help-item {
    margin-bottom:       20px;
    display:             blockj;
}
.help-title {
    margin-bottom:       10px;
    font-size:           1.2em;
    font-weight:         bold;
}
.help-paypal {
    vertical-align:      top;
    margin:              0;
    padding:             0;
}
.help-submenu {
    margin:              10px;
    padding:             10px;
    background-color:    #F7F7F9;
    width:               250px;
    position:            absolute;
    right:               50px;
}
.help-description {
    width:               100%;
}