@charset "UTF-8";
/* ----- Main layout ----- */
html { margin:    0;    padding:    0;    height: 100%;}
body {
    padding:            0;
/*    background:         url(../img/bg.png) repeat-x #7BCAF4; */
    background-color:   #7BCAF4;
    color:              #666;
    font:               10pt tahoma, osaka,taipei,verdana, arial, helvetica, sans-serif;
}
* html body { height: 100%; }

img {
    border:             none;
}

#xo-container-brd{
    width: 730px;
    height: 530px;
    position: absolute;
    top: 50%; left: 50%;
    margin: -275px auto auto -375px;
    padding: 10px;
    background: #ebebeb;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    opacity: .3;
    border: 1px solid #FFF;
}
#xo-container{
    width: 730px;
    height: 530px;
    position: absolute;
    top: 50%; left: 50%;
    margin: -265px auto auto -365px;
    border: 1px solid #77B1E1;
    background: #FFF;
    border-radius: 4px;
    overflow: hidden;
}
/* header */
#xo-header {
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	font-size:1.6em;
	/*padding:10px 24px 10px 24px;*/
        font-weight: bold;
        border-bottom: 1px solid #999;
        position: relative;
        text-shadow:0px 1px 3px #000;
}
#xo-header .xo_title_c{
    position: absolute;
    top: -7px;
    box-shadow: 0px 1px 3px #333;
    border-radius: 5px;
}
#xo-header .xo_title{
    font-size: 0.65em;
    padding: 5px 8px;
    text-shadow: -1px -1px 0px #1164A6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #0E4F83;
    
}
.gradient_bar{
    -moz-box-shadow:inset 0px 1px 0px 0px #CAE8F4;
    -webkit-box-shadow:inset 0px 1px 0px 0px #CAE8F4;
    box-shadow:inset 0px 1px 0px 0px #CAE8F4;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #69BFE3), color-stop(1, #1669AB) );
    background:-moz-linear-gradient( center top, #69BFE3 5%, #1669AB 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#69BFE3', endColorstr='#1669AB');
    background-color:#BAD8FB;
    color:#ffffff;
    font-family: "Trebuchet MS", arial, sans-serif;
    text-decoration:none;
}
.button{
    border: 1px solid #50A3C8;
    border-bottom: 1px solid #035592;
    text-shadow: 0px 1px 2px #333;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 10px 6px 10px;
    box-shadow: 0px 1px 2px #999;
    cursor: pointer;
}
.button:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2BCEF3), color-stop(1, #0681DC) );
    background:-moz-linear-gradient( center top, #2BCEF3 5%, #0681DC 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2BCEF3', endColorstr='#0681DC');
    color: #FFF;
}
.buttong{
    border: 1px solid #999;
    border-bottom: 1px solid #666;
    text-shadow: 0px 1px 2px #666;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 10px 6px 10px;
    box-shadow: 0px 1px 2px #ccc;
    cursor: pointer;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ccc), color-stop(1, #999) );
    background:-moz-linear-gradient( center top, #ccc 5%, #999 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#999');
    color: #fff;
}
#xo-header ul{padding: 0; margin: 0; list-style: none;height: 56px;width: 2000px;}
#xo-header ul li{
    list-style: none; float: left;
    /* background: url(../img/step-sep.png) no-repeat right; */
    position: relative; padding: 15px 5px 15px 24px;
    color: #98B8CB;
    text-shadow: -1px -1px 0px #367599;
}
#xo-header ul li span{
    display:inline-block;
    border-radius: 4px;
    border: 1px solid #FFF;
    background:#FF4400;
    font-size: 0.65em;
    padding: 1px 6px;
    box-shadow: 0 0 3px #333;
    position: relative; 
    top: 25px;
    left: -50%;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #CCC) );
    background:-moz-linear-gradient( center top, #f2f2f2 5%, #CCC 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#CCC');
    color: #666;
    text-shadow: none;
}
#xo-header ul li.current,
#xo-header ul li.past{
    color: #FFF;
    text-shadow:0px 1px 3px #000;
}
#xo-header ul li.current span,
#xo-header ul li.past span{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF9900), color-stop(1, #FF4400) );
    background:-moz-linear-gradient( center top, #FF9900 5%, #FF4400 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9900', endColorstr='#FF4400');
    color: #FFF;
}
#xo-header ul li.past span{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #69BFE3), color-stop(1, #1669AB) );
    background:-moz-linear-gradient( center top, #69BFE3 5%, #1669AB 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#69BFE3', endColorstr='#1669AB');
}
#xo-header ul li.past span img{
    position: absolute;
    top: -6px;
    left: 12px;
}
#xo-page-title{
    margin: 20px 10px 0px 10px;
}
#xo-page-title .index{
    display: block;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
    background: #3399CC;
    color: #FFF;
    padding: 5px 12px;
    font-size: 2em;
    font-weight: bold;
    font-family: "Trebuchet MS", arial, sans-serif;
    float: left;
    margin-right: 15px;
}
#xo-page-title .setup{
    text-transform: uppercase;
    font-size: 0.8em;
    display: block;
}
#xo-page-title .title{
    font-family: "Trebuchet MS", arial, sans-serif;
    font-size: 2em;
    color: #3399CC;
    display: block;
    font-weight: bold;
}
#xo-page{
    padding: 3px 10px;
    overflow: auto;
    height: 340px;
    margin: 3px 10px 0px 10px;
}
#xo-page .languages{
    font-size: 1.5em;
    font-family: "Trebuchet MS", arial, sans-serif;
    padding: 20px;
}

#xo-main-logo {
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    margin: -390px auto auto -157px;
}
#xo-version {
    float:                      right;
    margin:                     16px 8px;
    color:                      #aaa;
    font-weight:                bold;
    font-size:                  2em;
	text-shadow:				1px 1px 2px #ccc;
}
#xo-version img {margin-top: -8px;}
#xo-support {
    float:                      right;
    margin-right:               10px;
    padding-top:                25px;
    font-size:                  10pt !important;
    vertical-align:             middle;
    color:                      #000;
}

#xo-globalnav {
    margin:                     0;
    padding:                    0;
    height:                     9px;
    background:                 url(../img/bg-globalnav.png) repeat-x left top;
    border-right: 2px solid #ccc;
	border-left: 2px solid #ccc;

}
#xo-content {
    clear:                      left;
    text-align:                 center;
    padding:                    0;
}

/* ----- Wizard layout ----- */
h1 {
    margin:                     0;
    padding:                    0;
    color:                      #fff;
    font-family:                "Lucida Grande", "Trebuchet MS", sans-serif;
    font-size:                  1.5em;
}

ul, ol { margin:0; padding:0 20px;}

/* ----- Styling ----- */
#buttons {
    clear:                      both;
    text-align:                 right;
    padding:                    .5em;
}

form { margin:    0;}
select#support { border-color:	#ccc;}
h1, h2 { font-family: "Lucida Grande", "Trebuchet MS", sans-serif; text-shadow:	1px 1px 2px #ccc;}
h2 {
    margin-top:                 0;
    border-bottom:              1px solid #ccc;
    padding-left:               .5em;
    text-align:                 left;
}
h3 {
    font-size:                  1.1em;
    font-weight:                bold;
    margin:                     1em .5em .5em;
}
p { margin:    .5em;}

a {
  text-decoration:              none;
  color:                        #3399CC;
  background-color:             transparent;
}

a:hover {
    text-decoration:            none;
    color:                      #ff4400;
    background-color:           transparent;
}

table {
    width:                      99%;
    border-spacing:             0;
    border-collapse:            collapse;
    margin-bottom:              1em;
}

caption, .caption {
    padding:                    2px .25em;
    font-size:                  1.2em;
    font-weight:                bold;
    text-align: left;
    font-family: "Trebuchet MS", arial, sans-serif;
    color: #1669AB;
}

table thead th { background-color: #f4f4f4; text-align: left;}
td, th {
    padding: 2px 4px;
    border-bottom:                     1px solid #efefef;
    text-align: left;
    vertical-align: top;
}
th{color: #000; font-weight: normal;}

fieldset {
    margin: 0 0 15px 0;
    padding: 0;
    border: 0;
}
legend {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Trebuchet MS", arial, sans-serif;
    color: #1669AB;
}

.xolabel {
    clear:                      both;
    display:                    block;
    padding:                    .5em 0;
    font-size: 1.3em;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

#xolabel.center {
    clear:                      both;
    text-align:                 center;
    display:                    block;
    padding:                    .5em 0;
}

#help_button { float: right; cursor:help; }

.xoform-help {
    display:                    none;
    margin:                     -5px;
    padding:                    5px;
    color:                      #333;
    list-style-type:            none;
	background-color:	#F4F4FF;
	border:				1px solid #89BAD3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
body.show-help .xoform-help { display: block;}


#langselect.page { text-align: center; }

/*================================================*/
ul.diags1 {
    overflow:                   auto;
    width: 60%;
    padding:                    5px;
    margin:                     0px;
    border:                     1px solid #d0d0d0;
    list-style-type:            none;
    border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	background-color:  #FBE3E4;
}
/*================================================*/

ul.diags, ul.log {
/*    height:                     310px;*/
    overflow:                   auto;
    padding:                    5px;
    margin:                     0px;
    list-style-type:            none;
}
ul.diags li, ul.log li {
    color:                      #000;
    padding: 2px 0 2px 20px;
/*    background: url(../img/item.png) no-repeat left; */
}
ul.diags li.success, ul.log li.success { background-image: url(../img/yes.png); }
ul.diags li.failure, ul.log li.failure {
    background-image:           url(../img/no.png);
    font-weight:                bold;
    color:                      #f66;
}

.module {
    background-color:           #fff;
}

.module td {
    margin:                     0px;
    padding:                    2px;
    background-color:           transparent;
}

.module td.img {
    width:                      100px;
}

.module td.yesno {
    width:                      100px;
}

/*  Xoops french installer */

/* ===== messages ===== */
.pathmessage {
/*    position:                   absolute; */
/*    float:                      right; */
    margin-left:                5px;
    width:                      220px;
}
.error, .warning, .failure {
    background-image:           url(../img/no.png);
    background-repeat:          no-repeat;
    padding-left:               20px;
}
.success {
    background-image:           url(../img/yes.png);
    background-repeat:          no-repeat;
    padding-left:               20px;
}
.warning { color:#ff0000; background-color: transparent;}

.errorMsg, .confirmMsg, .resultMsg, .successMsg {
    margin:                     5px 2px;
    padding:                    5px;
    border:                     1px solid #ccc;
}
.confirmMsg {
    background-color:           #FFFADD;
    color:                      #CE6C00;
    border:                     1px solid #FFD9AE;
    list-style-type:            none;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.resultMsg, .successMsg {
    background-color:           #E6EFC2;
    color:                      #529214;
    border-color:               #C6D880;
    border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
}
.errorMsg a {background-color: transparent; color: #D12F19;}
.confirmMsg a {background-color: transparent; color: #817134;}
.successMsg a {background-color: transparent; color: #529214;}
.errorMsg {
    background-color:           #FBE3E4;
    background-repeat:          no-repeat;
    background-position:        10px;
    color:                      #D12F19;
    border-color:               #FBC2C4;
    -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

.directory, .files {
    padding-left:               20px;
    font-weight:                bold;
    font-style:                 italic;
}
.directory {
     background-image:          url(../img/folder.png);
   background-repeat:           no-repeat;
   background-position:         left;
}
.files {
   background-image:            url(../img/document.png);
   background-repeat:           no-repeat;
   background-position:         left;
}

#screenshot {
    text-align:                 center;
}
#screenshot img {
    max-width:                  500px;
    margin-top:                 5px;
}

input[type=text],input[type=password],input[type=checkbox],input[type=file],textarea,select
{
	border: 1px solid #89BAD3;
	margin: 2px 5px 2px 0;
	padding: 6px;
        font-size: 1em;
	background-color: #f7f7f7;
	color: #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	
}

input[type=text],input[type=password],input[type=file] {
	width:                      60%;
    margin-bottom:              .25em;
    background:                 #fff url(../img/form-input.png) repeat-x left top;
}

input[type=text]:focus,input[type=password]:focus,input[type=file]:focus,input[type=checkbox]:focus,textarea:focus,select:focus
	{
	color: #333;
	border: #3399CC solid 1px;
}

input[type=checkbox],input[type=radio] {
	margin: 3px;
	padding: 2px;
}

select {
    max-width:                      300px;
}
select[name=lang] {
    min-width:                  10em
}
.option {
    padding-left:               27px;
    font-size:                  1.1em;
    margin:                     2px 0;
}

textarea {
    width:                      95%;
}

/* Password streng */
#password {
    position:                   relative;
    min-height:                 120px;
}
#passwordinput {
    position :                  absolute;
    width:                      100%;
}
#passwordmetter {
    position :                  absolute;
    right:                      -1px;
    top:                        -50px;
    width:                      200px;
    padding:                    0 5px 5px 5px;
    border :                     1px solid #ccc;
    background: #f2f2f2;
    box-shadow: 2px 2px 4px #666;
    color:#1669AB;
}
#passwordmetter label{color: #1669AB;}
#passwordmetter label, #passwordgenerator, #passwordgenerator input{
    text-align:                 center;
}
#passwordmetter input{
    margin-bottom: 10px;
}
#passwordDescription {
    text-align:                 center;
    position:                   relative;
    font-weight: bold;
/*    left:                       5px;*/
}

#passwordStrength {
    text-align:                 center;
    height:                     20px;
    display:                    block;
    padding: 4px 10px;
    margin-bottom:              .25em;
    border-radius: 5px;
    line-height: 150%;
}

.strength0 { width: auto; background: #ebebeb; }
.strength1 { width: auto; background: #FBE4D7; }
.strength2 { width: auto; background: #F8B689; }
.strength3 { width: auto; background: #F9DD88; }
.strength4 { width: auto; background: #D6EB96; }
.strength5 { width: auto; background: #A3DED0; }
.strength6 { width: auto; background: #1669AB; }
.strength0 span { color: #666;text-shadow: 1px 1px 1px #FFF; }
.strength1 span { color: #C15013; text-shadow: 1px 1px 1px #FFF; }
.strength2 span { color: #883C09; text-shadow: 1px 1px 1px #FCDDC9; }
.strength3 span { color: #333;text-shadow: 1px 1px 1px #FDF3D7; }
.strength4 span { color: #2B350B;text-shadow: 1px 1px 1px #F9FCED; }
.strength5 span { color: #12342D;text-shadow: 1px 1px 1px #E1F4F0; }
.strength6 span { color: #fff; }

/*==================== logger ============================*/
#xo-logger-tabs {
    margin:				5px;
	padding-top:		10px;
	font-size:			95%;
}

#xo-logger-tabs a {
  text-decoration:              none;
  color:                        #f7f7f7;
  font-weight:                  bold;
  background-color:             transparent;
}

#xo-logger-tabs a:hover {
    text-decoration:            none;
    color:                      #FF0000;
    font-weight:                bold;
    background-color:           transparent;
}
.noininstall {display: none;}
